extends layout

block content
  .container
    h1.text-center Welcome to CodeBattle
    p The website is under construction...
    if user
      a.btn.btn-primary(href="search_game" role=("button")) Play