extends layout

block content
  .container
    h1.text-center Welcome to CodeBattle
    if user
      a.btn.btn-primary(href="search_game" role=("button")) Find a random player to play with
    else
      p Please register or log in to play! 
