extends layout

block content
  form#registration-form(action='/registration' method='POST')
    .form-group
      <label for="regUsername">Username</label>
      <input type="text" class="form-control" id="regUsername" name="username" placeholder="Enter Username">
    .form-group
      <label for="regEmail">Email address</label>
      <input type="email" class="form-control" id="regEmail" name="email" aria-describedby="emailHelp" placeholder="Enter email">
    .form-group
      <label for="regPassword">Password</label>
      <input type="password" class="form-control" id="regPassword" name="password"  placeholder="Password">
      <small id="emailHelp" class="form-text text-muted">We'll never share your data with anyone else.</small>
    <button type="submit" class="btn btn-primary">Submit</button>