body {
    padding-top: 65px;
}
#registration-form{
    width:900px;
}

.container-login{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.container-error{
    position: fixed;
    z-index: 9999;
}