extends ../layout

block content
  .conatiner.d-flex.align-content-center.center1
    .col
      h1.text-center Register
      .container.row
        form.col#registration-form(action='/registration' method='POST')
          .form-group
            label(for='regUsername') Username
            input#regUsername.form-control(type='text', name='username', placeholder='Enter Username')
          .form-group
            label(for='regEmail') Email address
            input#regEmail.form-control(type='email', name='email', aria-describedby='emailHelp', placeholder='Enter email')
          .form-group
            label(for='regPassword') Password
            input#regPassword.form-control(type='password', name='password', placeholder='Password')
          .form-group
            label(for='regPassword2') Confirm Password
            input#regPassword2.form-control(type='password', name='password2', placeholder='Confirm Password')
            small#emailHelp.form-text.text-muted We&apos;ll never share your data with anyone else.
          button.btn.btn-primary(type='submit') Submit